<ul class="media-list">
  <% posts.each do |post| %>
    <li class='media'>
      <div class="media-left">
        <%= image_tag post.user.get_profile_image, class: "rounded-circle", size:'50x50' %>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h6 class="posts">
            <%= post.user.name %>
              <span class="text-muted">
                <%= post.created_at.strftime('%Y/%m/%d') %>
              </span>
              <strong>充実度：<%= post.evaluation_i18n %></strong> /
              <strong><%= post.waste %>時間</strong> /
              <strong>投稿の充実分析すこあ:<%= post.score %></strong>
          </h6>
        </div>
        <div class="post-text mt-3">
          <%= post.body %>
        </div>
        <div class='media-footer border-bottom text-dark mt-2'>
          <div id="like_buttons_<%= post.id %>">
　　　      <%= render 'public/likes/like', post: post %>
　　      </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>


