<ul class="media-list">
  <% posts.each do |post| %>
   <li class='media'>
    <div class="media-left">
      <%= image_tag post.user.get_profile_image, class: "rounded-circle", size:'50x50' %>
    </div>
     <div class="media-body">
      <div class="media-heading">
       <h6 class="posts">
        <%= post.user.name %>
        <span class="text-muted">
         <%= post.created_at.strftime('%Y/%m/%d') %>
        </span>
          <strong>満足度：<%= post.evaluation_i18n %></strong> /
           <strong><%= post.waste %>時間</strong>
         </h6>
      </div>
    <div class="post-text mt-3">
     <%= post.body %>
    </div>
     <div class='media-footer border-bottom text-dark mt-3'>
       <% if post.liked_by?(current_user) %>
        <%= link_to public_post_likes_path(post), class: 'text-dark', method: :delete do %>
         <i class="fas fa-thumbs-up"></i><%= post.likes.count %>
        <% end %>
       <% else %>
        <%= link_to public_post_likes_path(post), class: 'text-dark',  method: :post do %>
         <i class="far fa-thumbs-up"></i><%= post.likes.count %>
        <% end %>
       <% end %>
         <% if post.user == current_user %>
          <%= link_to public_post_path(post.id), class: 'text-dark text-right', method: :delete do %>
           <i class="far fa-trash-alt"></i>
          <% end %>
        <%= link_to edit_public_post_path(post.id),  class: 'text-dark text-right' do %>
         <i class="fas fa-cog"></i>
        <% end %>
       <% end %>
      </div>
   </li>
  <% end %>
</ul>


