<% if @post.errors.any? %>
  <%= @post.errors.count %>errors have occurre
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class='container'>
 <div class='row'>
  <div class='col-md-8 offset-md-2'>
  		<%= render 'form', post: @post %>
  		<%= link_to 'Show', public_post_path(@post.id) %> |
  		<%= link_to 'Back', public_posts_path, class: "back" %>
 </div>
 </div>
 </div>