	<h2>ないよう</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to public_user_path(@post.user) do %>
            <%= image_tag @post.user.get_profile_image, size:"100x100" %><br>
            <%= @post.user.name %>
            <% end %>
          </td>
           <td><%= @post.body %></td>
           <td><%= @post.waste %></td>
           <td><%= @post.evaluation_i18n %></td>