<div class='container'>
 <div class='row'>
  <div class='col-md-6 offset-md-3'>
    <div class="text-center">
      <h1>とうろく</h1>
    </div>
      <div class="card mt-3">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field col-md-8 ml-5 mt-3 mb-1">
         <%= f.label :name,'なまえ', class: 'h5 text-black' %>
         <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field col-md-8 ml-5">
         <%= f.label :email,'めーるあどれす', class: 'h5 text-black' %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field col-md-8 ml-5">
          <%= f.label :password,'ぱすわーど', class: 'h5 text-black' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 字以上)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field col-md-8 ml-5">
         <%= f.label :password_confirmation,'ぱすわーど再確認', class: 'h5 text-dark' %>
         <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions  mb-2 mt-2 text-center">
         <%= f.submit "とうろくする", class: "btn btn-outline-dark" %>
        </div>
       <% end %>
      </div>
  </div>
 </div>
</div>
