<header>
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
      <a class="navbar-dark text-dark" href="/"><span><h3>さぼめも</h3></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to public_user_path(current_user),class: 'nav-link text-dark' do %>
              <i class="fas fa-home"></i> まいぺーじ
            <% end %>
          </li>
          <li>
            <%=  link_to public_posts_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-book-open"></i> みんなのとうこう
            <% end %>
          </li>
          <li>
            <%=  link_to public_ranks_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-book-open"></i> らんきんぐ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ろぐあうと
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-home"></i> ほーむ
            <% end %>
          </li>
          <li>
            <%= link_to about_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-link"></i> さぼめもについて
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i> とうろく
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i> ろぐいん
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>